@import "tailwindcss";

/* Make native date input calendar icon visible on dark backgrounds */
.date-white-icon::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.9;
  cursor: pointer;
}

.date-white-icon::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
